.con{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "c c c"
    "d e f";
}
.c{
    background: lightcyan;
    grid-area: c;
    flex-direction: column;
}
.d{
    grid-area: d;
    background: pink;
}
.e{
    grid-area: e;
    background: pink;
}
.f{
    grid-area: f;
    background: pink;
}