*{
    margin: 0;
    padding: 0;
}
.con{
    height: 100vh;
    background: lightblue;

}
.a{
    margin: 10px;
}
.b{
    margin: 10px;
}
.c{
    margin: 10px;
}
.d{
    margin: 10px;
}
.e{
    margin: 10px;
}
